@import "/src/sass/_variables.scss";

.contactForm {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: $wrapperborder;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-family: $text;
  font-size: 1.07rem;
}

input,
textarea {
  width: 85%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: $text;
}

.sendBtnWrapper {
  display: flex;
  justify-content: center;
}

.sendBtn {
  width: 40%;
  padding: 0.5rem;
  font-family: $text;
  text-transform: uppercase;
  font-size: 0.98rem;
  letter-spacing: 0.1rem;
  background-color: $btncolor;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.sendBtn:hover {
  background-color: $btnhover;
}

.successMessage {
  margin-top: 0.62rem;
  font-family: $infotext;
}

.contactIcon {
  width: 1.8rem;
  margin-right: 1rem;
}

.logoTitle {
  font-family: $text;
  font-size: 0.85rem;
  text-align: center;
}

/* Vertikalt */
.contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  padding-top: 2rem;
}

.contactIcon {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
