@import "/src/sass/_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.content {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
}

/* ---------- Headertext ---------- */
h1 {
  font-size: 2.5rem;
  padding: 3rem;
  font-family: $title;
  font-weight: 400;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* ---------- Light- & Darkmode ---------- */
.light-theme {
  background: linear-gradient(-225deg, #2cd8d5 0%, #c5c1ff 56%, #ffbac3 100%);
  color: rgb(4, 12, 126);
}

.dark-theme {
  color: rgb(245, 229, 229);
  background: linear-gradient(340deg, #30cfd0 0%, #330867 100%);

  /*   background: linear-gradient(
    140deg,
    #292270 0%,
    #2568a1 45%,
    #259abb 70%,
    #2bbc76 100%
  ); */
}

.light-theme .navLink {
  color: #2662a2;
}

.dark-theme .navLink {
  color: rgb(193, 193, 214);
}

.light-theme .navLink:hover {
  border-bottom: 2px solid rgb(80, 132, 195);
}

.dark-theme .navLink:hover {
  border-bottom: 2px solid rgb(146, 146, 163);
}

a {
  display: inline-block;
  padding: 0.6rem;
  text-decoration: none;
  cursor: pointer;
  color: rgb(170, 170, 201);
}

.light-theme a {
  color: rgb(45, 45, 160);
}

.dark-theme a {
  color: rgb(234, 229, 229);
}

.themeBtn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: $btncolor;
  color: rgb(234, 229, 229);
  font-family: "Karla", sans-serif;
  box-shadow: $btnshadow;
}

.themeBtn:hover {
  background-color: $btnhover;
}

/* ---------- Mediaqueries ---------- */
@media only screen and (max-width: 768px) {
  .content {
    min-height: auto;
  }

  .projectList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
  }
}
