@import "/src/sass/_variables.scss";

.navList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 5rem;
}

li {
  list-style: none;
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  font-family: $text;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.navLink:hover {
  padding-bottom: 0.4rem;
}
