@import "/src/sass/_variables.scss";

.navList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 5rem;
}

li {
  list-style: none;
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  font-family: $text;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.navLink:hover {
  border-bottom: 2px solid rgb(80, 132, 195);
  padding-bottom: 0.4rem;
}

.light-theme .navLink {
  color: #2662a2;
}

.dark-theme .navLink {
  color: rgb(165, 165, 210);
}
